body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

section {
  padding: 10px 0 30px 0;
  width: 100%;
  border-top: 1px solid black;
}

section.override {
  background-color: lightyellow;
}

.title {
  display: inline-block;
  width: 50%;
}

.title .name {
  display: inline-block;
  font-size: 20px;
  width: 30%;
}

.title .description {
  font-style: italic;
}

.state {
  display: inline-block;
}

label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
}

.default-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  text-align: center;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid black;
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  background-color: lightblue;
}

input[type="submit"] {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  padding: 10px;
  margin-left: 20px;
  font-size: 20px;
  background-color: #eee;
  border: 1px solid;
}

